{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'dipreazione/style.css' %}">

<body>
<div id="header">

<div id="avvocato">
<img  src="https://pbs.twimg.com/profile_images/667302553692991488/qroZ844D_400x400.jpg">
</div>
<div id="cose">
<div id="tag1">ANDREA DIPR&Egrave; PER L'AH&bullet;FR&Igrave;&bullet;CA</div>
<div id="tag2">DIPREAZIONE</div>
<hr>
<div id="name">{{ meating.name }}</div>
</div>


</div>


<div id='cont'>
<table>


<tr>
<th class="blank-th"></th>
{% for d in potential_dates %}
<td class="date-td">
    <div class="date">
        <div class="month">{{ d|date:"M" }}</div>
        <div class="day">{{ d|date:"j" }}</div>
        <div class="dow">{{ d|date:"D" }}</div>
    </div>
</td>
{% endfor %}
<th class="blank-th"></th>
</tr>

<tr class="totals">
<th class="blank-th"></th>

{% for t in totals %}
<td>
{% if t != 0 %}
{{ t }}
{% endif %}

</td>
{% endfor %}

<th class="blank-th"></th>
</tr>


{% for r in rows %}
<tr>
<th>{{ r.meater }}</th>

{% for d in r.p %}
{% if d %}
<td><div class="si">si</div></td>
{% else %}
<td><div class="no">no</div></td>
{% endif %}
{% endfor %}

<th></th>
</tr>
{% endfor %}

<form method="POST" action="{% url 'submit_meating' meating.id %}">
{% csrf_token %}
<tr>

<th><input type="text" name="meater"></th>

{% for d in potential_dates %}
<td>
<label>
<div class="check">
<input type="checkbox" name="dates" value="{{ d|date:"dmY" }}">
</div>
</label>

</td>
{% endfor %}

<th><input type="submit"></th>
</tr>

</form>

</table>
